body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/*wrapper card*/

.wrapper-card {
  background: #3375ccc4;
  margin: 8rem auto;
  width: 30%;
  margin-top: 8rem;
  padding: 2rem;
}

.wrapper-card-header {
  margin: 0rem;
  padding: 0rem;
  width: 100%;
  color: white;
}

.input-username {
  width: 100%;
  margin: 0rem;
  margin-bottom: 1rem;
}
label {
  float: left;
  color: white;
  font-size: small;
}

.chat-rooms {
  width: 100%;
  height: 2rem;
  margin-bottom: 1.8rem;
  border: none;
}

.btn-join {
  width: 100%;
}

.container {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-container {
  width: 100vw;
  top: 0;
  position: fixed;
  background: #3375cc;
}
.nav-bar {
  height: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-right: 4rem;
  padding-left: 4rem;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
}

/*Body Container*/

.container {
  height: 100%;
  height: 100vh;
  margin-top: 4rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
}

.right-side {
  width: 80%;
}
.right-side-status {
  position: fixed;
  bottom: 90px;
  height: 15px;
  margin: 0px;
  padding-bottom: 5px;
  font-size: 0.9rem;
  text-align: center;
  margin-right: 40%;
}
/*.left-side*/
.wrapper .left-side {
  width: 20%;
  background: #3375ccc4;
  height: 100vh;
}

.users-h4 {
  padding: 10px;
  margin: 10px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.603);
  color: white;
}
.icon {
  margin-right: 10px;
}
.left-side ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.left-side ul > li {
  margin: 1px auto;
  color: white;
  padding: 10px 0px;
}

/*.messages*/

.chat-messages {
  overflow-y: scroll;
  height: 620px;
}

.chat-messages::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(159, 159, 180);
}

.chat-messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  
}

.chat-messages::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.message {
  border-radius: 15px;
  margin: 0rem;
  color: white;
  background: #86b0e7;
  width: 20rem;
  margin: 10px 10px;
}
.message > .meta {
  color: black;
  margin: 0px;
  font-size: small;
  color: rgba(242, 244, 248, 0.781);
}

.message > .text {
  margin: 1px;
  padding: 2px;
}

/*.footer*/
.footer {
  padding: 1rem;
  position: fixed;
  bottom: 0px;
  height: 4rem;
  background: #3375cc;
  color: white;
  width: 100%;
}

.btn {
  height: 2rem;
  border: none;
  color: #787e86;
  padding: 0px 20px;
}
input {
  height: 2rem;
  width: 50%;
  margin-left: 30%;
  border: none;
}
